@model IEnumerable<TransporteGACweb.BL.Viajes>

@{
    ViewBag.Title = "Index";
}

<h2>Viajes</h2>

<p>
    @Html.ActionLink("Crear", "Crear")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Conductor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Conductor.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.Id }) |
            @Html.ActionLink("Detalle ", "Detalle", new { id=item.Id }) |
            @Html.ActionLink("Ver Colaboradores","Index","ControldeViajes", new { id=item.Id },null)
        </td>
    </tr>
}

</table>
